.row
    .col-md-2
    .col-md-8(style='height:400px;overflow:auto;')
        table.table.table-condensed
            thead
                tr
                    th #
                    th BranchName
                    th SubjectName
                    th Year
                    th Start Time
                    th End Time
                    th Date
                    th Faculty Name
                    th Faculty Email
                    th Reason
            tbody
                tr(ng-repeat='stu in cancelclasses')
                    th(scope='row') {{$index + 1}}
                    td {{stu.branchName}}
                    td {{stu.subject}}
                    td {{stu.year}}
                    td {{custFormat(stu.stTime)}}
                    td {{custFormat(stu.endTime)}}
                    td {{stu.date}}
                    td {{stu.facultyName}}
                    td {{stu.facultyEmail}}
                    td {{stu.reason}}
    .col-md-2
