a(href='#/monthlydetails') Generate Monthly Report
br
a(href='#/details') Generate Report
br
a(href='#/cancelclasses') Cancel Classes
nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Attendance Dashboard
      form.navbar-form.navbar-left(method='post', role='form', action='/kryptosattendance/profile', enctype='multipart/form-data')
        .form-group(style='padding:0 10px;')
          select.form-control(name='yearId', ng-model='selectedYear', ng-change='selectYear()')
            option(value='') --Select Year--
            option(ng-repeat='year in years', value='{{year.yearId}}') {{year.year}}
        .form-group(style='padding:0 10px;')
          select.form-control(name='branch', ng-model='selectedBranch', ng-change='selectBranch()')
            option(value='') --Select Branch--
            option(ng-repeat='branch in branches', value='{{branch.branchId}}') {{branch.branchName}}
        .form-group(style='padding:0 10px;')
          select.form-control(name='subject', ng-model='selectedSubject', ng-change='selectSubject()')
            option(value='') --Select Subject--
            option(ng-repeat='subj in subjects', value='{{subj.subjectId}}') {{subj.subjectName}}
        //
          <div style="padding:0 10px;" class="form-group">
          <select name="class" ng-model="selectedClass" ng-change="selectClass()" class="form-control">
          <option value="">--Select Class--</option>
          <option ng-repeat="cl in classes" value="{{$index}}">{{cl.date}} {{getTime(cl.stTime)}} - {{getTime(cl.endTime)}}</option>
          </select>
          </div>
        .form-group
          input.form-control(type='file', name='file')
        button.btn.btn-default(type='submit') Submit
.col-md-2
.row
  .col-sm-3(style='width:16%')
    select.form-control(ng-model='qrID', style='height: 42px;', ng-change='qrSelected()')
      option(ng-selected="qrID == ''", value='') Select a QR
      option(ng-selected='qrID == qr.qrCode', value='{{qr.qrCode}}', ng-repeat='qr in qrCodes') {{qr.qrName}}
  .col-sm-3
    button.btn.btn-default(type='button', ng-click='generateqrcode()') Generate
  .col-sm-6
    img(style='width :45%', ng-src='{{qrcodeimage}}')
