nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Attendance Dashboard
      form.navbar-form.navbar-left(method='post', role='form', action='/profile', enctype='multipart/form-data')
        .form-group(style='padding:0 10px;')
          select.form-control(name='yearId', ng-model='selectedYear', ng-change='selectYear()')
            option(value='') --Select Year--
            option(ng-repeat='year in years', value='{{year.yearId}}') {{year.year}}
        .form-group(style='padding:0 10px;')
          select.form-control(name='branch', ng-model='selectedBranch', ng-change='selectBranch()')
            option(value='') --Select Branch--
            option(ng-repeat='branch in branches', value='{{branch.branchId}}') {{branch.branchName}}
        .form-group(style='padding:0 10px;')
          select.form-control(name='subject', ng-model='selectedSubject', ng-change='selectSubject()')
            option(value='') --Select Subject--
            option(ng-repeat='subj in subjects', value='{{subj.subjectId}}') {{subj.subjectName}}
        .form-group(style='padding:0 10px;')
          input#startDate.form-control(name='startDate', placeholder='Start Date', ng-model='startDate')
        .form-group(style='padding:0 10px;')
          input#endDate.form-control(name='endDate', placeholder='End Date', ng-model='endDate')
    .form-group(style='padding:0 10px;')
      button.pull-right.btn.btn-success(ng-click='fetchMonthlyData()') Generate Report
    .form-group(style='padding:0 10px;')
      button#rdbtn.pull-right.btn.btn-success(ng-click='downloadMonthlyReport()') Download Report
  .row(ng-show='roster')
    .col-md-2
    .col-md-8
      h2 Attendance Report
    .col-md-2
  .row
    .col-md-2
    .col-md-8(style='height:400px;overflow:auto;')
      table#tbdownload.table.table-condensed(ng-show='roster')
        thead
          tr
            th #
            th Roll No
            th Name
            th(ng-repeat='month in studentStats[0].monthsStat') {{getDate(month.month)|date:'MMM yy'}}
            th present/total
        tbody
          tr(ng-repeat='stu in studentStats')
            th(scope='row') {{$index + 1}}
            td {{stu._id.rollNo}}
            td {{stu._id.stuName}}
            td(ng-repeat='month in stu.monthsStat') {{month.present}}/({{month.total}})
            td {{stu.totalPresent}}/({{stu.total}})
    .col-md-2
