nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Attendance Dashboard
            form.navbar-form.navbar-left(method='post', role='form', action='/profile', enctype='multipart/form-data')
                .form-group(style='padding:0 10px;')
                    select.form-control(name='yearId', ng-model='selectedYear', ng-change='selectYear()')
                        option(value='') --Select Year--
                        option(ng-repeat='year in years', value='{{year.yearId}}') {{year.year}}
                .form-group(style='padding:0 10px;')
                    select.form-control(name='branch', ng-model='selectedBranch', ng-change='selectBranch()')
                        option(value='') --Select Branch--
                        option(ng-repeat='branch in branches', value='{{branch.branchId}}') {{branch.branchName}}
                .form-group(style='padding:0 10px;')
                    select.form-control(name='subject', ng-model='selectedSubject', ng-change='selectSubject()')
                        option(value='') --Select Subject--
                        option(ng-repeat='subj in subjects', value='{{subj.subjectId}}') {{subj.subjectName}}
                .form-group(style='padding:0 10px;')
                    select.form-control(name='class', ng-model='selectedClass', ng-change='selectClass()')
                        option(value='') --Select Class--
                        option(ng-repeat='cl in classes', value='{{$index}}') {{cl.date}} {{getTime(cl.stTime)}} - {{getTime(cl.endTime)}}
.row(ng-show='roster')
    .col-md-2
    .col-md-8
        h2
            | Attendance Report
            button.pull-right.btn.btn-success(ng-click='downloadReport()', ng-show='!downloadlink') Generate Report
            a.pull-right.btn.btn-success(href='{{downloadlink}}', ng-show='downloadlink') Download
        .alert.alert-info
            h4
                | Faculty : {{sclass.facultyName}}
                span.pull-right {{reporttitle}}
            div
                | {{sclass.year}} - {{sclass.branchName}} - {{sclass.subject}}
                span.pull-right Total : {{totalCount}}, Present : {{presentCount}}, Absent : {{absentCount}}
    .col-md-2
.row
    .col-md-2
    .col-md-8(style='height:400px;overflow:auto;')
        table.table.table-condensed(ng-show='roster')
            thead
                tr
                    th #
                    th Name
                    th Roll No
                    th Status
            tbody
                tr(ng-repeat='stu in roster')
                    th(scope='row') {{$index + 1}}
                    td {{stu.stuName}}
                    td {{stu.rollNo}}
                    td
                        span.label(ng-class="stu.status=='present' ? 'label-success' : 'label-danger'") {{stu.status}}
    .col-md-2
