html
  head
    title
    link(rel='stylesheet', href='/kryptosattendance/css/app.css')
    link(rel='stylesheet', href='/kryptosattendance/css/bootstrap.css')
    link(rel='stylesheet', href='/kryptosattendance/css/font-awesome.min.css')
  body.nav-md
    .col-md-12
    .modal-dialog(style='margin-bottom:0')
      .modal-content
        .panel-heading
          h3.panel-title Register
        .panel-body
          form(action='/kryptosattendance/user/register', method='post')
            fieldset
              .form-group
                select.form-control(placeholder='Role', name='role')
                  option(value='TENANT') College Admin
                  option(value='STUDENT') Student
              .form-group
                input.form-control(placeholder='Tenant name', name='tenant', type='text')
              .form-group
                input.form-control(placeholder='Name', name='name', type='text', autofocus='')
              .form-group
                input.form-control(placeholder='E-mail', name='email', type='text', autofocus='')
              .form-group
                input.form-control(placeholder='Username', name='username', type='text')
              .form-group
                input.form-control(placeholder='Password', name='password', type='password', value='')
              input.btn.btn-sm.btn-success(type='submit', value='Register')
